.well,
.alert {
	position: relative;
	margin-bottom: 3em;
}

h4 {
	margin-bottom: 20px;
}

p {
	margin: .5em 0;
}

.scope-id {
	font-size: 1.25em;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	background: #444;
	color: white;
	padding: .25em .5em;
	border-radius: .25em;
}
