.well,
.alert {
	position: relative;
	margin-bottom: 3em;
}

h4 {
	margin-bottom: 20px;
}

p {
	margin: .5em 0;
}

.scope-id {
	font-size: 1.25em;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	background: #444;
	color: white;
	padding: .25em .5em;
	border-radius: .25em;
}

input, button {
	font-size: 14px;
	padding: 0.5em 1em;
}

label {
	font-size: 20px;
	margin-top: 10px;
}

input {
	border: 2px solid #ccc;
	width: 100%;
}

button {
	border: 2px solid #357ebd;
	background: #357ebd;
	color: white;
}
