<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>transclude</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

    <div class="container">

        <h1>transclude</h1>

        <!-- AppController -->
        <div ng-controller="AppController">
            <code>{{ $id }}</code>

            <!-- <input type="text" ng-model="parent.foo"> -->

            <!-- hsDirective -->
            <div hs-directive>
                <div>
                    <code>{{ $id }}</code>
                    <p>{{ numbers }}</p>
                    <!-- <input type="text" ng-model="parent.foo"> -->
                </div>
            </div>

        </div>
    </div>

</body>
</html>
