input, button {
	font-size: 14px;
	padding: 0.5em 1em;
}

input {
	border: 2px solid #ccc;
	width: 200px;
}

button {
	border: 2px solid #357ebd;
	background: #357ebd;
	color: white;
}

li {
	font-size: 20px;
}
