<div class="well well-sm">
	<p>Title: <code>{{ title }}</code></p>
    <p>Colors: <code>{{ colors }}</code></p>
    <p>Person: <code>{{ person }}</code></p>

    <hr>

    <form>
        <input type="text" ng-model="newTitle" placeholder="Title">
        <button ng-click="updateTitle(newTitle)" >Update title</button>
    </form>

    <form>
        <input type="text" ng-model="newColor" placeholder="Color">
        <button ng-click="addColor(newColor)" >Add color</button>
    </form>

    <form>
        <input type="text" ng-model="key" placeholder="Person key">
        <input type="text" ng-model="val" placeholder="Person value">
        <button ng-click="addPerson(key, val)" >Add person</button>
    </form>

    <div class="scope-id">#{{ $id }}</div>
</div>
