<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Isolated Scope - One way binding</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body class="container">

    <h1>Isolated Scope</h1>

    <div ng-controller="AppController">

        <h3>App Controller</h3>
        <div class="alert alert-info">
            <label>$scope.day</label>
            <input type="text" ng-model="day">
            <label>$scope.month</label>
            <input type="text" ng-model="month">
        </div>

        <h3>hsDirective</h3>
        <hs-directive day="{{ day }}" month="month" update="updateDay(day)"></hs-directive>
    </div>

</body>
</html>
